.hoteldiv {
    display: flex;
    margin-top: 5%;
}

.hotelimg {
    width: 100px;
    height: 150px;
    border-radius: 50%;
}

a {
    text-decoration: none;
    color: black;
}

.hotelDesc {
    color: gray;
}

.homediv {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.hotelinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.removemargin {
    margin: 0;
}

.hoteltitle {
    margin-top: 10%;
}

.hotelsubtitle{
    margin-top: 5%;
}